main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form input[type="text"] {
  width: 100%;
  font-size: 48px;
  font-family: monospace;
  padding: 0.5em;
  border: 1px #ccc solid;
  border-radius: 0.5em;
  text-align: right;
}
